@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.text-muted{
    color: #000;
}

body{
    background-color: rgb(190, 190, 190);
}

.button{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out;
    background-color: .15s ease-in-out;
    border-color: .15s ease-in-out;
    box-shadow: .15s ease-in-out;
}

a{
    text-decoration: none;
}

div{
    display:contents;
}

.material-icons{
    color: rgb(190, 190, 190);;
    text-decoration: none;

}

.navbarCss{
    height: 2.5em;
}

.menuPrincipal{
    display: flex;
    align-items: center
}


.listaProductos{
    padding-top: 1em;
    font-size: 20px;
}

.cuadro{
    border: 2px solid black;
    width: 10em;
    height: 10em;
    color: rgb(36, 34, 34);
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botonesCuadro{
    display: flex;
    justify-content: space-around;

}

.botonesCuadro input{
    width: 50%;
}

.productsList ul{
    padding-top: 1em;
}

.imagenGuitarra{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenGuitarraLista{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenGuitarraLista img{
    width:auto;
    height: 10rem;
}

.imagenGuitarra img{
    width:auto;
    height: 21rem;
}

/* Navbar */

.navbar__estilo{
    display: flex;

}

.navbar__titulo1{
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-left: 3rem;
    margin-bottom: 0;
    text-align: center;
}
.navbar__titulo2{
    font-family: 'Oswald', sans-serif;
    color: rgb(219, 221, 84);
    margin-bottom: 0;
    text-align: center;
}

/* Navbar */

/* Seccion Principal */
.seccion__principal{
    display: flex;
    justify-content: center;
}

.principal__listadoProductos{
    min-height: 40rem;
}

.principal__listadoProductosDetallados{
    min-height: 33rem;
}

.principal__contenedor{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

/* Seccion Principal  */

/* Lista Todos los productos */

.containerCargando{
    height: 50em;
    background-color: blue;
    color: blueviolet;
    margin-top: 60em;
}

.columnaProductos{
margin: 1em;
padding-bottom: 4px;
}


/* Lista Todos los productos */

.botoneraContainer{
    display: flex;
    justify-content: center;
    
}

.botonera{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    border: rgb(170, 171, 172) 1px solid;
    border-radius: 1rem;
    padding: 1rem;
}
.buttonsBotonera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
    margin-bottom: 1rem;

}

.vistaProducto{
    display: flex;
    width: 15rem;
}

.vistaProductoDetallada{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
    border: 1px solid grey;
    border-radius: 1rem;
    
}

.vistaProductoDetallada1{
    display: flex;
    flex-direction: column;
}

.vistaProductoDetallada2{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    justify-content: space-around;
}

.seccion{
    display: flex;
}

.listaTodos{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}


/* Carrito */

.cart__Style{
    min-height: 37rem;
    align-items: center;
}

.cart{
    min-height: 29rem;
}

.carrito__productos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 40%;
}

.productos__estilo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 30%;
    margin: 2rem;
    height: auto;
}

.carrito__menu{
    display: flex;
    min-width: 12%;
    flex-direction: column;
    border: black 2px solid;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
    height: 20rem;
    text-align: center;
}

.menu__btn1{
    color: black;
    background-color: rgb(25, 107, 25);
    color: white;
}

.menu__btn2{
color: black;
background-color: rgb(170, 171, 172);
}

.menu__btn3{
    color: rgb(255, 255, 255);
    background-color: rgb(221, 42, 42);
    }

.imagenCarrito{
    height: 130px;
}
/* Carrito */

/* Compra */

.changoImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
    text-align: center;
}

/* Compra */


/* Footer */

.footer__style{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5rem;
    text-align: center;
    border-top: 5px solid rgb(219, 221, 84);;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #212529;
    color: rgb(219, 221, 84);
    font-family: 'Roboto', sans-serif;
}

.footer__style a{
    margin-bottom: 0.2rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(219, 221, 84);
    text-decoration: none;
}
.style__f1{
    display: flex;
    flex-direction: column;
}
.style__f2{
    display: flex;
    flex-direction: column;
}

.style__f3{
    display: flex;
    flex-direction: column;
}

.style__f4{
    display: flex;
    flex-direction: column;
}
/* Footer */