body{
    background-color: rgb(190, 190, 190);
}

div{
    display:contents;
}

.material-icons{
    color: rgb(190, 190, 190);;
    text-decoration: none;

}

.navbarCss{
    height: 2.5em;
}

.menuPrincipal{
    display: flex;
    align-items: center
}


.listaProductos{
    padding-top: 1em;
    font-size: 20px;
}

.cuadro{
    border: 2px solid black;
    width: 10em;
    height: 10em;
    color: rgb(36, 34, 34);
    padding: 1em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.botonesCuadro{
    display: flex;
    justify-content: space-around;

}

.botonesCuadro input{
    width: 50%;
}

.productsList ul{
    padding-top: 1em;
}

.imagenGuitarra{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenGuitarra img{
    width:auto;
    height:10em;

}

/* Landing Page Start */

.buttonsHome{
    display: flex;
    justify-content: center;
    background-color: rgb(200, 202, 202);
    height: 8em;
    align-items: center;
}

.containerPotada{
    display: flex;
    justify-content: center;
    background-color: black;

}
.titlePortada{
    font-family: var(--bs-body-font-family);
    text-align: center;
    background-color: rgb(200, 202, 202);
    margin-bottom: 0em;
}

.portadaInicio{
    width: 50%;
    height: auto;
}

/* Landing Page End */

/* Lista Todos los productos */

.columnaProductos{
margin: 1em;
padding-bottom: 4px;
}


/* Lista Todos los productos */


.seccion{
    display: flex;
}

.listaTodos{
    display: flex;
    flex-direction: column;
    justify-content: space-around
}